//
//  ExampleLogger.xcconfig
//  TwitterLoggingService
//
//  Copyright (c) 2017 Twitter, Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//          http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

//
// use this configuration for differences from the default target settings that
// require additional documentation
//

//
// Build Options

// Xcode 8 and beyond
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES


//
// Deployment

// Continue allowing the ExampleLogger.app (linking the lib.a) to be built for iOS 7
// (the minimum for Xcode 8, which is the oldest version Apple allows to be used for
// submitting apps to the app store), even when future versions of Xcode default to
// a higher minimum deployment target.
IPHONEOS_DEPLOYMENT_TARGET = 7.0

//
// Signing

// Required to build the sample app for testing
CODE_SIGN_IDENTITY = iPhone Developer
