//
//  TwitterLoggingServiceLibrary.xcconfig
//  TwitterLoggingService
//
//  Copyright (c) 2017 Twitter, Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//          http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

//
// use this configuration for differences from the default target settings,
// for target settings that must differ between Debug configuration & Release
// configuration, make the  specific setting change in the project.pbxproj .
// (cf https://pewpewthespells.com/blog/xcconfig_guide.html#CondVarConfig for
// why use of SETTING[config=Debug] does not do what we want.)


//
// Build Options

APPLICATION_EXTENSION_API_ONLY = YES


// Deployment

DSTROOT = "/tmp/${PRODUCT_NAME}.dst"

// Continue allowing the libTwitterLoggingService.a to be built for iOS 6
// even when future versions of Xcode suggest a higher default Minimum Deployment Target
IPHONEOS_DEPLOYMENT_TARGET = 6.0

SKIP_INSTALL = YES


//
// Linking

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

//
// Packaging

PRODUCT_NAME = ${PROJECT_NAME}
PUBLIC_HEADERS_FOLDER_PATH = include/${PRODUCT_NAME}


//
// Apple Clang - Language - Modules

CLANG_ENABLE_MODULES = YES


//
// Static Analyzer - Analysis Policy

RUN_CLANG_STATIC_ANALYZER = $(RUN_CLANG_STATIC_ANALYZER_FOR_$(PRODUCT_NAME))
