//
//  TwitterLoggingServiceTests.xcconfig
//  TwitterLoggingService
//
//  Copyright (c) 2017 Twitter, Inc.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//          http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

//
// use this configuration for differences from the default target settings.
// for target settings that must differ between Debug configuration & Release
// configuration, make the  specific setting change in the project.pbxproj .
// (cf https://pewpewthespells.com/blog/xcconfig_guide.html#CondVarConfig for
// why use of SETTING[config=Debug] does not do what we want.)

//
// Architectures

ONLY_ACTIVE_ARCH = YES


//
// Build Options

// the following 2 settings are used for the same purpose depending upon whether
// being build using {Xcode 7} or {Xcode 8 and beyond}

// Xcode 8 and beyond
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

DEBUG_INFORMATION_FORMAT = dwarf


//
// Code Signing

CODE_SIGN_IDENTITY[sdk=tvos*] =


//
// Deployment

// Continue allowing the TwitterLoggingServiceTests (linking the .framework) to be built for iOS 8
// even when future versions of Xcode suggest a higher default Minimum Deployment Target
IPHONEOS_DEPLOYMENT_TARGET = 8.0


//
// Linking

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks


//
// Packaging

INFOPLIST_FILE = ${PRODUCT_NAME}/${PRODUCT_NAME}-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.twitter.${PRODUCT_NAME:rfc1034identifier}
PRODUCT_NAME = ${TARGET_NAME}


// Signing

// This is the result of setting "Sign to run locally" in "Signing & Capabilities" for mac (catalyst)
CODE_SIGN_IDENTITY[sdk=macosx*] = -


//
// Swift Compiler - General

SWIFT_OBJC_BRIDGING_HEADER = ${PRODUCT_NAME}/${PRODUCT_NAME}-Bridging-Header.h

